<%- include('../partials/head') %>


<div class="container form-container">
    <h1>Edit a Workout</h1>
    <div class="form-div">
    <form action="/users/<%= user._id %>/workouts/<%= workout._id %>?_method=PUT" method="POST">

        <div class="all-form">
            <div class="inside-form">
        <label for="title">Workout Title (Optional)</label>
        <input type="text" name="Title" value="<%= workout.Title %>">

        <label for="type">Type</label>
        <select name="type" required>
            <option value="Strength"  <%= workout.type === "Strength" ? "selected" : '' %>>Strength</option>
            <option value="Cardio"  <%= workout.type === "Cardio" ? "selected" : '' %>>Cardio</option>
            <option value="Flexibility"  <%= workout.type === "Flexibility" ? "selected" : '' %>>Flexibility</option>
            <option value="Sports" <%= workout.type === "Sports" ? "selected" : '' %>>Sports</option>
        </select>

        <label for="duration">Duration (minutes)</label>
        <input type="number" name="duration" min="0" value="<%= workout.duration %>" required>


        <label for="rating">Personal Rating</label>
        <div class="star-rating">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
        </div>
        <input type="hidden" name="rating" id="rating-value" value="<%= workout.rating %>" required>
        <button id="clear-button" type="button">Clear Rating</button>

        <label for="date">Date </label>
        <input type="date" name="Date" value="<%= workout.Date ? new Date(workout.Date).toISOString().split('T')[0] : '' %>" required>
    
    </div>
    <br>
        <div class="note-div">
        <label for="notes">Notes</label>
        <textarea  rows ="13" cols="20"  name="notes" ><%= workout.notes %></textarea>
    </div>
        
    </div>

        <button type="submit">Edit Workout</button>
    </form>
</div>
<%- include('../partials/footer') %>
