<%- include('../partials/head') %>
<div class="container">
    <h1><%=workout.Title%></h1>


    <div class="width-increase card-container">
        <div class="card  show-card" style="margin-bottom: 1rem;">
          


            <div class="card-body show-body-div">
                <h5 class="card-title"><%= workout.Title || "Untitled Workout" %> by <%=currentUser.username%></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= workout.type %></h6>
                
                <p class="card-text"><strong>Duration:</strong> <%= formattedDuration %> </p>

                <% if (workout.rating===0) { %>
                <p class="card-text"><strong>Rating:</strong> ☆ ☆ ☆ ☆ ☆</p>
                <% } if (workout.rating===1) {%>
                <p class="card-text"><strong>Rating:</strong> ★ ☆ ☆ ☆ ☆</p>
                <% } if (workout.rating===2) {%>
                <p class="card-text"><strong>Rating:</strong> ★ ★ ☆ ☆ ☆</p>
                <% } if (workout.rating===3) {%>
                <p class="card-text"><strong>Rating:</strong> ★ ★ ★ ☆ ☆</p>
                <% } if (workout.rating===4) {%>
                <p class="card-text"><strong>Rating:</strong> ★ ★ ★ ★ ☆</p>
                <% } if (workout.rating===5) {%>
                    <p class="card-text"><strong>Rating:</strong> ★ ★ ★ ★ ★</p>
                    <% } %>


               
                <p class="card-text">
                    <strong>Date:</strong> 
                    <%= workout.Date ? new Date(workout.Date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) : "No Date Provided" %>
                </p>
                <% if (workout.notes) { %>
                    <div class="show-notes">
                    <p class="card-text" id=""><strong>Notes:</strong> <%= workout.notes %></p>
                    </div>
                <% } %>
               <div class="show-buttons">
                <form action="/community/<%= currentUser._id %>" style="display:inline;">
                    <button type="submit" class="btn btn-lg btn-primary">Go Back</button>
                </form>
            
                </div>
            </div>
<div class="img-show-div">
                <% if (workout.type==='Strength' ) { %>

                    <img src="https://cdn-icons-png.flaticon.com/512/38/38464.png"
                        class="card-img-top" alt="<%= workout.type %> workout"
                        >
                    <% }if (workout.type==='Cardio' ) { %>
                        <img src="https://cdn-icons-png.flaticon.com/512/1/1837.png"
                        class="card-img-top" alt="<%= workout.type %> workout"
                        >
                    <% }if (workout.type==='Flexibility' ) { %>
                        <img src="https://www.shareicon.net/data/512x512/2016/04/06/745502_sports_512x512.png"
                        class="card-img-top" alt="<%= workout.type %> workout"
                        >
                    <% }if (workout.type==='Sports' ) { %>
                        <img src="https://www.shareicon.net/data/512x512/2016/02/19/721553_sport_512x512.png"
                        class="card-img-top" alt="<%= workout.type %> workout"
                        >
                    <% } %>
</div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>
